
/* .navxcolor{
    background-color: linear-gradient(0deg, rgba(9, 9, 9, 0.755), rgba(0, 0, 0, 0.744)) !important;
} */
.backx{
    background-image: url(img.jpg) !important;

 
    background-repeat: no-repeat;
    background-size: cover;
     height: 10%;
    min-height: 10vh; 
}
.navxmar{
    margin-right: 20px;
   
}
  
.pclogin{
    background-color: #dc3545!important;
}
  
  .navx {
    height: 50px;
    width: 100%;
   
    position: relative;
  }
  
  .navx > .navx-header {
    display: inline;
  }
  
  .navx > .navx-header > .navx-title {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    margin-top: 12px;
  }
  
  .navx > .navx-btn {
    display: none;
  }

   .navx-links {
    display:inline ;
    float: right !important;
    /* display: flex !important;
    justify-content: right !important; */
    font-size: 10px; 
  }
  .navx > .navx-links > ul li a{
    display: block;
    padding: 0 8px;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;

  }
  .navx > .navx-links > ul{
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
    
  }
  .navx > .navx-links > ul li{
    display: inline-block;
    background-color: none;
    
    
  }
  
  
  .navx > #navx-check {
    display: none;
  }

 .navx .navx-links ul a.icon{
 margin-left: 80px;
 margin-right: 10px;
 }

 .navx .navx-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
 }

  
  @media (max-width:750px) {
    .navx > .navx-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .navx > .navx-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .navx > .navx-btn > label:hover,.navx  #navx-check:checked ~ .navx-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .navx > .navx-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .navx > .navx-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .navx > .navx-links > ul li a {
      display: block;
      width: 100%;
    }

    /*   */


    
      .navx > .navx-links > ul li{
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: #333;
         
      }
      .navx > .navx-links > ul li a{
          margin-left: 40%;
      }
      .navx .navx-links ul a.icon{
        margin-left: 33%;
      }

    /*   */
    .navx > #navx-check:not(:checked) ~ .navx-links {
      height: 0px;
    }
    .navx > #navx-check:checked ~ .navx-links {
      height: calc(50vh - 50px);
      overflow-y: auto;
    }
  }


/* //after nav */

 