.buttoncss{
    height: 35px;
    width: 150px;
    background-color:#d63384;
    
  }
  .buttoncss2{
    height: 35px;
    width: 150px;
    border-color: #d63384;
   
  }
  .pink{
    color: #d63384 !important;
  }

  .backxx{
    background-image: url(img.jpg) !important;

 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}